.main_craft_section_container {
  height: 70vh;
  width: 100%;
  margin-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/L0JbTHV/abstract-pink-background-698452-702-Photoroom-2.jpg");
}

.main_inner_craft_section_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: auto;
}

.craft_section_left_container {
  height: 100%;
  width: 60%;
}

.craft_section_rigth_container {
  height: 100%;
  width: 40%;
}

.craft_image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.craft_image_box_container {
  height: 90%;
  width: 80%;
}

#box_101 {
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/QCCJTBq/img-2893.jpg");
}

#box_102 {
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/z8ffNCj/multimediablock-7-percent-22portrait-4-percent-22-oil-paintpastel-on-canvas-8x10-inches-2023-1714409.jpg");
}

#box_103 {
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/nbwWLhX/cranium-tom-fedro-fidostudio.jpg");
}

#box_104 {
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/Xpq7X9j/file-20190201-75085-1mor4cs.png");
}

.craft_section_rigth_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right_craft_section_inner_container h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #5082d2;
}

.right_craft_section_inner_container p {
  font-size: 1rem;
  color: #656565;
  padding: 10px 30px 30px 30px;
}















@media screen and (max-width: 1280px) {
  .main_inner_craft_section_container {
    max-width: 1024px;
  }

  .right_craft_section_inner_container h1 {
    font-size: 2.2rem;
  }

  .craft_image_box_container {
    height: 80%;  
  }
}

@media screen and (max-width: 1024px) {
  .main_inner_craft_section_container {
    max-width: 768px;
  }

  .right_craft_section_inner_container h1 {
    font-size: 2rem;
  }

  .right_craft_section_inner_container p {
    padding: 10px 10px 30px 10px;
  }
}

@media screen and (max-width: 768px) {
  .main_inner_craft_section_container {
    max-width: 640px;
  }

  .right_craft_section_inner_container h1 {
    font-size: 1.9rem;
  }

  .right_craft_section_inner_container p {
    font-size: 14px;
    padding: 10px 5px 30px 5px;
  }

  .craft_image_box_container {
    height: 70%;  
  }
}

@media screen and (max-width: 640px) {
  .main_inner_craft_section_container {
    max-width: 475px;
  }

  .main_inner_craft_section_container {
    flex-direction: column-reverse;
  }

  .craft_section_rigth_container {
    height: 80%;
    width: 100%;
  }

  .right_craft_section_inner_container p {
    padding: 10px 10px 20px 10px;
  }

  .craft_section_left_container {
    width: 100%;
  }

  .craft_image_box_container {
    height: 90%;
    width: 90%;
  }
}

@media screen and (max-width: 475px) {
  .main_inner_craft_section_container {
    width: 100%;
  }
}